# This is a sample environments file for local development use.
# Fill in the relevant values and copy the file as ".env".
# See README.md for more info.

CF_API_KEY = "XXX"
SLACK_SIGNING_SECRET = "YYY"
SLACK_CLIENT_ID = "ZZZ"
SLACK_CLIENT_SECRET = "AAA"